body {
    background: #EEE;
    color: #003;
}

#main{
background: #E2E2FC;
}

a {
    color: #004;
}

a:hover {
	color:#003;
	text-shadow: 0 0px 10px #999;
}

div.pubtitle a:hover span {
	background:  #CCF;
	border: 1px solid #006;
}

div.softwarelist a:hover span {
    color: #336;
	background: #CCF;
}



