body {
    background: #000;
    color: #CCF;
}

#main{
background: #02080D;
}

a {
    color: #AAF;
}

a:hover {
	color:#99C;
	text-shadow: 0 0px 10px #666;
}

div.pubtitle a:hover span {
	background:  #12181D;
	border: 1px solid #CCF;
}

div.softwarelist a:hover span {
    color: #222;
	background: #CCF;
}

