body {
	background: #162955;
    color: #111;
	font-size: 14px;
}

hr {
	margin-top: 0;
	margin-bottom: 10px;
}

#main{
    background: #7887AB;
	padding-left: 20px;
	padding-right: 20px;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 18pt;
}

a {
	font-size: 14px;
    color: #061539;
	text-decoration: none;
}

a:hover {
	color: #08173B;
	text-shadow: 0 0px 10px #666;
}


#nameheader{
	font-size: 50px;
	font-weight: normal;
}

#subheader {
	font-size: 14px;
	line-height: normal;
}

h3, h4, #nameheader {
	font-family: 'League Spartan', Arial, sans-serif;
	font-weight: normal;
	font-variant: normal;
}

a, body  {
font-family: 'Open Sans', Arial, sans-serif;
}

div.pubtitle {
	position: relative;
	font-size: 12px;
	margin-top: 10px;
	/*font-weight: bold;*/
	line-height:normal;
	margin-left: 0px;
}


div.pubtitle a span {
	display: none;
}

div.pubtitle a:hover span {
	display: block;
	/*position: absolute; top: 80px; left: 500px; width: 250px;*/
	position: absolute;
	top: 50px;
	left: 0px;
	max-width: 800px;
	padding: 6px;
	margin: 5px;
	z-index: 100;
	line-height: normal;
	text-shadow: none;
	font-size: 12px;
	font-weight: normal;
	background:  #12181D;
	border: 1px solid #CCF;
}

div.pubtitle a .sub {
	vertical-align: sub;
	display: inline;
}

div.pubtitle a span img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.pubcite, .pubcite a {
	font-size: 12px;

}

.pubcite{
	margin-left: 14px;
	line-height: normal;
}

div.softwarelist {
	position: relative;
	line-height: normal;
	margin-bottom: 4px;
}


div.softwarelist ul {
	list-style-type:none;
}
div.softwarelist ul li{
	font-size:12px;
	margin: 0;
	line-height: normal;
	display:inline-block;
}

div.softwarelist ul li:not(:last-child):after{
	content: ".";
	margin: 0 2px;
}	

div.softwarelist 	{
	font-size:14px;
	
}

div.softwarelist a span {
	display: none;
}

div.softwarelist a:hover span {
	display: block;
    color: #222;
	background: #CCF;
	/*position: absolute; top: 80px; left: 500px; width: 250px;*/
	position: absolute;
	top: 12px;
	left: 80px;
	max-width: 380px;
	padding: 5px;
	margin: 10px;
	z-index: 100;
	font-size: 12px;
	line-height: 14px;
}

.software_header {
	margin-bottom: 5px;
}

ul.listone {
	list-style-type: none;
	text-indent: -5px;
	padding-left: 5px;
}

ul.listone li {
	margin-left: 5px;
	line-height: 12px;
}

.nobottom{
	margin-bottom: 0;
}

.mainlink{
	font-size: 14px;
	line-height:normal;
}


label {
  display: block;
  height: 25px;
  width: 100px;
  text-align: center;
  margin: 20px 0;
  position: fixed;
  right: 0;
  font-family: 'Heydings';
  font-size: 30px;
  font-weight:normal;
  color: #eee;
}
 
label:hover {
  text-shadow: yellow 1px 1px 10px;
  color: #eee;
  cursor: pointer;
}
 
input#lightswitch {
   position: absolute;
   top: -9999px;
  left: -9999px;
}

input#lightswitch:checked + #main {
    background: #061539;
	color: #99f;
}

input#lightswitch:checked + #main a {
	color: #88e;
}

input#lightswitch:checked + #main a:hover {
	color:#99C;
	text-shadow: 0 0px 10px #666;
}

input#lightswitch:checked {
}

.toggle {
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 50;
}






